body {
    font-family: Arial, sans-serif;
    background-color: black; /* Fundo laranja */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: black;
    font-weight: bold; /* Negrito */
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin: 5px 0;
    font-weight: bold; /* Negrito */
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold; /* Negrito */
}

button {
    padding: 10px;
    background-color: black; /* Preto */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold; /* Negrito */
}

button:hover {
    background-color: #333333; /* Preto mais claro no hover */
}

#error, .error {
    color: red;
    font-weight: bold; /* Negrito */
}

#relatorio {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#relatorio th, #relatorio td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: bold; /* Negrito */
}

#filtros {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold; /* Negrito */
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination button {
    margin: 0 10px;
    font-weight: bold; /* Negrito */
}

#loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
