.data-hora {
    text-align: center;
}

#dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

button {
    background-color: #000000; /* Preto */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold; /* Negrito nas fontes */
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333; /* Efeito hover, preto mais claro */
}

@media only screen and (max-width: 600px) {
    body {
        padding: 20px;
        text-align: center;
    }
    button {
        width: 100%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: orangered; /* Fundo laranja escuro */
    color: #000000; /* Texto preto */
    font-weight: bold; /* Negrito nas fontes */
    text-align: center;
    padding: 20px;
}

p {
    margin: 10px 0;
}

#btn-registrar-ponto {
    background-color: #000000; /* Preto */
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold; /* Negrito nas fontes */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#btn-registrar-ponto:hover {
    background-color: #333333; /* Preto mais claro no hover */
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #000000; /* Preto */
    font-size: 16px;
    background-color: rgb(61, 57, 57); /* Fundo laranja */
    color: white; /* Texto preto */
    font-weight: bold; /* Negrito nas fontes */
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(61, 57, 57); /* Fundo laranja */
    color: white; /* Texto preto */
    font-weight: bold; /* Negrito nas fontes */
}

#mensagem {
    margin-top: 20px;
    font-size: 18px;
    transition: opacity 1s ease-in-out;
}

#alerta-ponto-registrado {
    border: 1px solid #000000; /* Preto */
    position: fixed;
    bottom: 10px;
    font-size: 1.3rem;
    padding: 5px;
    background-color: #000000; /* Preto */
    color: white;
    font-weight: bold; /* Negrito nas fontes */
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}
